html {
    text-align: justify;
    hyphens: auto;
}

:--headings {
    text-transform: uppercase;
    letter-spacing: 0.1875em;
}

pre {
    border: 2px solid $font-color;
}

[data-wrapper~="section"] {
    padding: $wrapper-gap;
    border: 2px solid $font-color;
    background-color: $background;
    overflow-x: auto;
    overflow-y: scroll;
}

[data-text="title"] {
    font-kerning: none;
    text-align: center;
}

[data-flex="align"] {
    margin: 0 -$space-x;
}
