// Custom
// -----------------------------------------------------------------------------

body,html {
	height: auto;
}

body {
	text-align: justify;
	hyphens: auto;
//	.gradient(@background-color; 3%; true);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	letter-spacing: 0.333em;
}

pre {
	background-color: inherit;
	.border(2px; @color: @font-color);
}
